<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Change Password Form - Example</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .center-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
  </style>
</head>
<body class="bg-light">

<div class="container mt-2 bg-light">
<div class="row">
  <div class="col-sm">

  </div>
 <div class="col-sm border border-primary">
  <form>
    <h2>Change Password</h2>
    <div class="form-group">
      <label for="password">Enter Password:</label>
      <input type="password" class="form-control"  id="password" name="password"  autocomplete="new-password" required>
      <label for="confirmpassword">Confirm Password:</label>
      <input type="confirmpassword" class="form-control" id="confirmpassword" name="confirmpassword" autocomplete="new-password" required>
    </div>
    <div class="container">
    <div class="row">  
    <div>
      <button type="button" class="btn btn-primary" onclick="changepassword()">Change Password</button>
    </div>
</div>
</div>
</form>
</div>
<div class="col-sm">

</div>
</div>
<!-- Include Bootstrap JS and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>
<script>
async function changepassword(){
  
    const password=document.getElementById('password').value;
    const confirmpassword=document.getElementById('confirmpassword').value;
    const url=window.location.href;
    console.log('url:',url);
    const part=url.split("/");
    const userid=part[part.length-1];
    if(password!==confirmpassword){
        alert("password and confirm password not matched");
    }
    try{
        const jsonData={
            updatedpassword:password
        }
    const response=await axios.put(`/changepassword/${userid}`,jsonData);
    console.log('response=',response);
    const status=response.data.ispasswordchanged;
    //console.log('status:',status);
    if(response.data.ispasswordchanged==1){
        alert('password changed successfully. Login Now');
        window.location.href='/'
    }
}
catch{
    console.log('something went wrong');;
}
}
</script>
</html>
