<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign Up Form - Example</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .center-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
  </style>
</head>
<body class="bg-light">

<div class="container mt-2 bg-light">
<div class="row">
  <div class="col-sm">

  </div>
 <div class="col-sm border border-primary">
  <form>
    <h2>Forget Password</h2>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" autocomplete="email" required>
    </div>
    <div class="container">
    <div class="row">  
    <div>
      <button type="button" class="btn btn-primary" onclick="forgetpassword()">Send Password</button>
    </div>
</div>
</div>
</form>
</div>
<div class="col-sm">

</div>
</div>
<!-- Include Bootstrap JS and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>
<script>
async function forgetpassword(){
  
    const email=document.getElementById('email').value;
    try{
    const response=await axios.get(`/password/forgetpassword/${email}`);
    console.log('response=',response);
    if(response.data.status==1){
        alert('password reset link sent to your registered email id.');
        window.location.href="/";
    }
    if(response.data.status==0){
        
        alert("incorrect email id")
    }
}
catch{
    alert('something went wrong');
    console.log('something went wrong');;
}
}
</script>
</html>
